* {
  margin: 0;
  padding: 0;
}
.registration-form {
  background-image: url(../img/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 60px 0;
  position: relative;
  /*background: linear-gradient(to right, #27dbe9, #e3e67d);  
  padding: 130px 0;*/
}
.overlay{
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.form-box {
  width: 40%;
  background-color: white;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  z-index: 9999;
}
.form-box h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.form-box form input {
  display: block;
  width: 94%;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.last{
    display: inline-block !important;
    width: auto !important;
}
.form-btn{
    background: linear-gradient(to right, #27dbe9, #e3e67d);
    border: none;
    width: 100% !important;
    margin: 16px 4px;
    transition: 0.5s;
}
.form-btn:hover{
    color: #fc0505;
    background: #837bb1;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.form-control:focus{
    border: none;
    border: 1px solid #1afc05;
}/*
.form-control::placeholder{
    color: #fc0505;
}*/
