/*link with style-css.html*/
h1{
    text-align: center;
    color: rgb(52, 52, 204);
    background-color: rgb(114, 189, 133);
    font-size: 25px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    }
    img{
      height: 50%; width: 50%;
    }
    #desh{
      color: crimson;
      font-size: 15pt;
    }
    .bangla{
      color: rgb(3, 245, 3);
      font-size: 15pt;
    }
    .neighbor{
      background-color: rgb(142, 167, 110);
    }